<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.cheers.mall.dto.MemberDTO" alias="MDTO" />
        <typeAlias type="com.cheers.mall.dto.OderDTO" alias="ODTO" />
        <typeAlias type="com.cheers.mall.dto.ItemDTO" alias="IDTO" />
        <typeAlias type="com.cheers.mall.dto.CartDTO" alias="CDTO" />
        <typeAlias type="com.cheers.mall.dto.CommentDTO" alias="commentDTO" />
    </typeAliases>
</configuration>