<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Item">
<insert id="itemSave" parameterType="IDTO">
    insert into cheersItem_table (itemCategory,itemName,itemPrice,itemDiscount,itemStock,itemImageName1,itemImageName2,itemImageName3,itemExp,itemDelivery)
    values (#{itemCa  tegory},#{itemName},#{itemPrice},#{itemDiscount},#{itemStock},#{itemImageName1},#{itemImageName2},#{itemImageName3},#{itemExp},#{itemDelivery})
</insert>
<select id="itemList" resultType="IDTO">
    select * from cheersItem_table
</select>
  <select id="bestPagingList" parameterType="java.util.HashMap" resultType="IDTO">
        select *from cheersItem_table where itemCategory=1 order by itemId desc limit #{start},#{limit}
  </select>
    <select id="bestCount" resultType="int">
        select count(itemId) from  cheersItem_table where itemCategory=1
    </select>
    <select id="search" parameterType="String" resultType="IDTO">
        select * from cheersItem_table where itemName like concat('%',#{q},'%') order by itemId desc
    </select>
    <select id="findItemId" parameterType="Long" resultType="IDTO">
        select * from cheersItem_table where itemId=#{itemId}
    </select>
    <update id="itemUpdate" parameterType="IDTO">
        update cheersItem_table set itemCategory=#{itemCategory}, itemName=#{itemName},itemPrice=#{itemPrice},itemDiscount=#{itemPrice},itemStock=#{itemStock},itemImageName1=#{itemImageName1},itemImageName2=#{itemImageName2},itemImageName3=#{itemImageName3},itemExp=#{itemExp},itemDelivery=#{itemDelivery} where itemId=#{itemId}
    </update>
    <delete id="itemDelete" parameterType="Long">
        delete from cheersItem_table where itemId=${itemId}
    </delete>
    <insert id="saveCart" parameterType="CDTO">
        insert into cheersCart_table(cheersMemberId,itemId,cartQTY,itemName,itemDiscount,itemImageName1) values(#{cheersMemberId},#{itemId},#{cartQTY},#{itemName},#{itemDiscount},#{itemImageName1})
    </insert>
    <select id="itemDuplicate" resultType="CDTO" parameterType="CDTO">
        select * from cheersCart_table where cheersMemberId=#{cheersMemberId} and itemId=#{itemId}
    </select>
    <update id="cartCount" parameterType="CDTO">
        update cheersCart_table set cartQTY=cartQTY+1 where cheersMemberId=#{cheersMemberId} and itemId=#{itemId}
    </update>
    <select id="cartList" parameterType="CDTO" resultType="IDTO">
        select  * from cheersItem_table where cheersMemberId=#{cheersMemberId}
    </select>
    <select id="cartFindList" parameterType="Long" resultType="CDTO">
        select * from cheersCart_table where cheersMemberId=#{cheersMemberId}
    </select>
    <update id="plus" parameterType="Long">
     update cheersCart_table set  cartQTY=cartQTY+1 where cartId=#{cartId}
    </update>
    <update id="minus" parameterType="Long">
        update cheersCart_table set  cartQTY=cartQTY-1 where cartId=#{cartId}
    </update>
    <delete id="dropItem" parameterType="CDTO">
        delete from cheersCart_table where cartId=#{cartId}
    </delete>
    <select id="itemRankingList" resultType="IDTO">
        select * from cheersItem_table order by itemSell desc
    </select>
    <update id="rankingAdd" parameterType="IDTO">
        update cheersItem_table set itemName=#{itemName} where itemId=#{itemId}
    </update>
    <select id="findByCartId" parameterType="Long" resultType="CDTO">
        select * from cheersCart_table where cartId=#{cartId}
    </select>
    <update id="simpleBuy" parameterType="Long">
        update cheersItem_table set itemSell=itemSell+1 , itemStock=itemStock-1 where itemId=#{itemId}
    </update>
    <update id="kkoPayCount" parameterType="CDTO">
        update cheersItem_table set itemSell=itemSell+#{cartQTY}, itemStock=itemStock-#{cartQTY} where itemId=#{itemId}
    </update>
</mapper>














